{% extends 'dpproj/headers.html' %}
{% block content %}
<script>
  function makeTable(el,mydata) {
    var tbl  = document.createElement("table");
    tbl.style.width  = "70%";
    $.each(mydata, function (key, val) {
        var tr = tbl.insertRow();
        tr.insertCell().appendChild(document.createTextNode(key.toString()));
        tr.insertCell().appendChild(document.createTextNode(val.toString()));
      });
    el.appendChild(tbl)
  };

  makeTable($("#tableContent"),eval({{data|safe}}));
</script>
<!-- Menu Nav-->
<div class="container-fluid">
  <div class="row">
    {% include 'dpproj/kpi_menu.html' %}
    <p>Welcome {{user_email}}</p>
    {{ message }}
    <main class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <section class="registration">
        <div>{{data}}</div>
        <div class="table" id="tableContent"></div>
      </section>
    </main>
  </div>
</div>

{% endblock %}