{% extends 'dpproj/headers.html' %}
{% block content %}

<!-- Menu Nav-->
<div class="container-fluid">
  <div class="row">
    {% include 'dpproj/kpi_menu.html' %}
    <p>Welcome {{user_email}}</p>
    <main class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      {% if error_message %}
      <div class="alert alert-danger" role="alert">
        {{error_message}}
      </div>
      {% endif %}
      {% if message %}
      <div class="alert alert-success" role="alert">
        {{message}}
      </div>
      {% endif %}
      <form action="{% url 'dpproj:upload' user_email %}" method="post" class="form-inline text-center"
        enctype="multipart/form-data">
        {% include 'dpproj/kpi_render_form.html' %}
        <button type="submit" class="btn btn-secondary">Upload</button>
      </form>
    </main>
  </div>
</div>

{% endblock %}