<!--Nav menu block-->
<nav class="col-md-2 d-none d-md-block sidebar-sticky">
  <ul class="nav navbar-bar flex-column text-left">
    <li class="nav-item"><a class="text-bold text-xl nav-link" href="{% url 'dpproj:kpi' user %}"><span class="glyphicon glyphicon-th-large"></span> Home</a></li>
    <li class="nav-item"><a class="text-bold text-xl nav-link" href="{% url 'dpproj:upload' user %}"><span class="glyphicon glyphicon-upload"></span> Upload</a></li>
    <li class="nav-item"><a class="text-bold text-xl nav-link" href="{% url 'dpproj:registration' user%}"><span class="glyphicon glyphicon-th-list"></span> Candidate-Form</a></li>
    <li class="nav-item"><a class="text-bold text-xl nav-link" href="#"><span class="glyphicon glyphicon-signal"></span> Visualization</a></li>
  </ul>
</nav>