{% extends 'dpproj/headers.html' %}
{% block content %}
<!-- Menu Nav-->
<div class="container-fluid">
  <div class="row">
    <p>Welcome {{user_email}}</p>
    {% include 'dpproj/kpi_menu.html' %}
    <main class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <!--sample body element -->
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos repellendus dolores nostrum, blanditiis illum nam iste eius quibusdam ex debitis velit voluptate pariatur. Harum, provident soluta quia suscipit sequi obcaecati.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident aut incidunt nemo harum, iste distinctio ad! Earum saepe nostrum sunt aliquam, dolores nam vel quo numquam laudantium amet quia sint.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus eaque vel debitis, quod quibusdam numquam, suscipit quasi quia corporis, a saepe amet minus nesciunt rerum ipsam velit expedita impedit architecto!
    </main>
  </div>
</div>
<!-- main body-->
{% endblock %}