{% extends 'dpproj/headers.html' %}
{% load static %}
{% block content %}
<!-- Menu Nav-->
<script>
    datax={{data|safe}}
    Bokeh.embed.embed_item(datax,"plot")
</script>
<div class="container-fluid">
    <div class="row">
        {% include 'dpproj/kpi_menu.html' %}
        <p>Welcome {{user_email}}</p>
        <main class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            {% if error_message %}
            <div class="alert alert-danger" role="alert">
              {{error_message}}
            </div>
            {% endif %}
            <section class="">
               <div  class="bk-root" id="plot"></div>
``          </section>
        </main>
    </div>
</div>

{% endblock %}