{% extends 'dpproj/headers.html' %}
{% block content %}
<script>
  if (window.history.replaceState) {
    window.history.replaceState(null, null, window.location.href);
  }
</script>
<!-- Menu Nav-->
<div class="container-fluid">
  <div class="row">
    {% include 'dpproj/kpi_menu.html' %}
    <p>Welcome {{user_email}}</p>
    <main class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

      <!-- other messages and alerts -->
      {% if error_message %}
      <div class="alert alert-danger" role="alert">
        {{error_message}}
      </div>
      {% endif %}
      {% if message %}
      <div class="alert alert-success" role="alert">
        {{message}}
      </div>
      {% endif %}

      <form method="POST" action="{% url 'dpproj:empreg' user_email %}">
        {% include 'dpproj/kpi_render_form.html' %}
        <button class="btn btn-lg btn-primary" type="submit">Update</button>
      </form>

    </main>
  </div>

  {% endblock %}